.nav-inner .close {
	background-color: rgb(155, 211, 201);
}
ul li.full {
	background-color: rgb(243, 242, 230);
}
ul li.letter-A {
	background-color: rgb(242, 153, 153);
}
ul li.letter-B {
	background-color: rgb(233, 232, 214);
}
ul li.letter-C {
	background-color: rgb(139, 204, 139);
}
ul li.letter-D {
	background-color: rgb(188, 225, 239);
}
 ul li.letter-E {
	background-color: rgb(211, 116, 108);
}
 ul li.letter-F {
	background-color: rgb(116, 181, 169);
}
 ul li.letter-G {
	background-color: rgb(244, 184, 130);
}
 ul li.letter-H {
	background-color: rgb(230, 138, 130);
}
 ul li.letter-I {
	background-color: rgb(76, 119, 142);
}
 ul li.letter-J {
	background-color: rgb(226, 222, 181);
}
 ul li.letter-K {
	background-color: rgb(110, 160, 186);
}
 ul li.letter-L {
	background-color: rgb(181, 229, 181);
}
 ul li.letter-M {
	background-color: rgb(223, 128, 98);
}
 ul li.letter-N {
	background-color: rgb(242, 153, 153);
}
 ul li.letter-O {
	background-color: rgb(116, 181, 169);
}
 ul li.letter-P {
	background-color: rgb(244, 184, 130);
}
 ul li.letter-Q {
	background-color: rgb(162, 217, 234);
}
 ul li.letter-R {
	background-color: rgb(233, 232, 214);
}
 ul li.letter-S {
	background-color: rgb(139, 204, 139);
}
 ul li.letter-T {
	background-color: rgb(233, 232, 214);
}
 ul li.letter-U {
	background-color: rgb(223, 128, 98);
}
 ul li.letter-V {
	background-color: rgb(79, 138, 137);
}
 ul li.letter-W {
	background-color: rgb(110, 160, 186);
}
 ul li.letter-X {
	background-color: rgb(181, 229, 181);
}
 ul li.letter-Y {
	background-color: rgb(242, 153, 153);
}
 ul li.letter-Z {
	background-color: rgb(52, 88, 107);
}
 ul li.-about {
	background-color: rgb(211, 116, 108);
}
#letter-A {
	background-color: rgb(254, 213, 200);
}
#letter-B {
	background-color: rgb(241, 235, 217);
}
#letter-C {
	background-color: rgb(215, 246, 222);
}
#letter-D {
	background-color: rgb(218, 242, 244);
}
#letter-E {
	background-color: rgb(254, 213, 200);
}
#letter-F {
	background-color: rgb(185, 228, 215);
}
#letter-G {
	background-color: rgb(254, 217, 189);
}
#letter-H {
	background-color: rgb(254, 213, 200);
}
#letter-I {
	background-color: rgb(143, 180, 191);
}
#letter-J {
	background-color: rgb(241, 235, 217);
}
#letter-K {
	background-color: rgb(218, 242, 244);
}
#letter-L {
	background-color: rgb(215, 246, 222);
}
#letter-M {
	background-color: rgb(254, 217, 189);
}
#letter-N {
	background-color: rgb(254, 213, 200);
}
#letter-O {
	background-color: rgb(185, 228, 215);
}
#letter-P {
	background-color: rgb(254, 217, 189);
}
#letter-Q {
	background-color: rgb(218, 242, 244);
}
#letter-R {
	background-color: rgb(241, 235, 216);
}
#letter-S {
	background-color: rgb(215, 246, 222);
}
#letter-T {
	background-color: rgb(240, 235, 216);
}
#letter-U {
	background-color: rgb(199, 235, 248);
}
#letter-V {
	background-color: rgb(185, 228, 215);
}
#letter-W {
	background-color: rgb(222, 243, 248);
}
#letter-X {
	background-color: rgb(215, 246, 222);
}
#letter-Y {
	background-color: rgb(254, 217, 189);
}
#letter-Z {
	background-color: rgb(150, 181, 190);
}
